<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon
    (click)="onToolbarMenuToggle()"
    id="toolbarMenu">subject</mat-icon>
  Our Purchase List
  <span class="toolbar-spacer"></span>
  <mat-icon
    class="toolbar-icon"
    matBadge="6"
    matBadgePosition="after"
    matBadgeColor="accent"
  >notifications</mat-icon>
</mat-toolbar>

<mat-sidenav-container
  id="sidenavContainer"
 fullscreen>
  <mat-sidenav
    mode="side"
    #sidenav
    id="sidenav"
    [class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen"
    opened>
    
    <mat-list id="menus">
      <mat-card>
        <mat-card-header>
          <div 
            mat-card-avatar 
            class="avatar"></div>

          <mat-card-title>Purchase</mat-card-title>
          <mat-card-subtitle>Internal</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-list-item >
        <button  id="nivy" (click) = "navItemClicked($event)"
        class="menu-item"  
          mat-flat-button>
          <mat-icon  id="nivy" (click) = "navItemClicked($event)" >baby_changing_station</mat-icon>
          Nivy</button>
      </mat-list-item>

      <mat-list-item>
          <button  id ="sankari" (click) = "navItemClicked($event)"
          class="menu-item"  
            mat-flat-button>
            <mat-icon id ="sankari" (click) = "navItemClicked($event)">pregnant_woman</mat-icon>
            Sankari</button>
        </mat-list-item>

        <mat-list-item>
            <button  id ="yuvi" (click) = "navItemClicked($event)" 
            class="menu-item" 
              mat-flat-button>
              <mat-icon  id ="yuvi" (click) = "navItemClicked($event)">hail</mat-icon>
            Yuvi</button>
          </mat-list-item>

          <mat-list-item>
            <button  id ="home" (click) = "navItemClicked($event)"
            class="menu-item"  
              mat-flat-button>
              <mat-icon  id ="home" (click) = "navItemClicked($event)">home</mat-icon>
            For Home</button>
          </mat-list-item>
          <mat-list-item >
            <button id ="settings" (click) = "navItemClicked($event)"
            class="menu-item"  
              mat-flat-button>
              <mat-icon id ="settings" (click) = "navItemClicked($event)">settings</mat-icon>
              Settings</button>
          </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content
  [ngStyle]="{ 'margin-left.px': contentMargin }"
  >
  <h3>---Items Status ---- </h3>
  <div>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
        <mat-cell *matCellDef="let items"> {{items.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="item">
        <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
        <mat-cell *matCellDef="let items"> {{items.item}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="needFor">
        <mat-header-cell *matHeaderCellDef> needfor </mat-header-cell>
        <mat-cell *matCellDef="let items"> {{items.needFor}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
        <mat-cell *matCellDef="let items"> {{items.status}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
